.privacy-container {
    max-width: 1300px;
    margin: 50px auto;
    background: #393E46;
    padding: 20px;
    color: #EEEEEE;
    border-radius: 10px;
    box-shadow: 0 5px 20px #00acb586;
    font-family: fantasy;
  }

  h1 {
    text-align: center;
    color: #00ADB5;
    font-size: 2.5em;
  }

  p {
    font-size: 1.1em;
    margin: 15px 0;
    text-align: justify;
  }