.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1300px;
    margin: 50px auto;
  }
  
  .carousel-track {
    display: flex;
    scroll-behavior: smooth;
    overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
  }
  
  .carousel-track::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  
  .carousel-item {
    flex: 0 0 100%;
    object-fit: cover;
    height: 400px;
  }
  
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background: #00acb556;
    color: #EEEEEE;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 1;
  }
  
  .prev {
    left: 10px;
  }
  .next {
    right: 10px;
  }
  
  .carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background: #EEEEEE;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
  
  .dot.active {
    background: #00ADB5;
  }
  