.computer-display{
    margin-top: 30px;
    margin-left: 18vh;
    margin-right: 18vh;
}
.computer-display h2{
    font-size: max(2vw,24px);
    font-weight: 600;    
    color: #00ADB5;
}

h3 {
    font-size: max(1vw,18px);
    color: #EEEEEE;
}
.computer-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin:30px 30px 30px 0px;
    gap: 40px;
    row-gap: 50px;
}